ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

ul > li:first-child {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  align-items: center;
}
